@property --fontWeightRegular-x18k4hsb { syntax: "<integer>"; inherits: true; initial-value: 400 }
@property --fontWeightMedium-xxmkadh { syntax: "<integer>"; inherits: true; initial-value: 500 }
@property --fontWeightSemiBold-x1mty9rc { syntax: "<integer>"; inherits: true; initial-value: 600 }
@property --fontWeightBold-x1g0tog1 { syntax: "<integer>"; inherits: true; initial-value: 700 }
:root, .x1e3gmet{--fontFamilyBody-xi4y6dh:Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;--fontFamilyMono-xxpav2t:'Apercu Mono Pro', ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono', 'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro', 'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;--fontFamilyEditorial-xckjhrw:Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;--fontFamilyHeading-xvdavx9:Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;--fontWeightRegular-x18k4hsb:400;--fontWeightMedium-xxmkadh:500;--fontWeightSemiBold-x1mty9rc:600;--fontWeightBold-x1g0tog1:700;--fontSizeSmall-x12qxakp:12px;--fontSizeRegular-xu5nrh7:14px;--fontSizeLarge-x1harlys:16px;--fontSizeXlarge-x15936cn:20px;--fontSizeXxlarge-x1lfkmzz:28px;--fontSizeXxxlarge-x17fma9d:40px;--lineHeightSmallSingleLine-x285p73:14px;--lineHeightRegularSingleLine-xl2v5m2:16px;--lineHeightSmallBody-x1bzypvq:18px;--lineHeightRegularBody-xn0wo5b:20px;--lineHeightSubHeader-xkmn0lz:20px;--lineHeightPageHeader-x14alj3d:24px;--lineHeightLargeEditorial-xnbh5l4:34px;--lineHeightLargerEditorial-xezj9if:48px;--surfaceLevel_1Background-x1nfabw4:#ffffff;--surfaceLevel_1Border-x1wzc3k4:#d5dae4;--surfaceLevel_2Background-x1010hqu:#fbfbfb;--surfaceLevel_2Border-x6thv3w:#d5dae4;--surfaceLevel_3Background-x1tgtisj:#fbfbfb;--surfaceLevel_3Border-xdu8nwv:#bdc4d5;--elevation_1ShadowColor-x1rp63bn:rgba(25, 30, 36, 0.1);--elevation_1ShadowBlur-xn4m0dh:4px;--elevation_1ShadowOfsetX-xevbss4:0px;--elevation_1ShadowOffsetY-x9zi3o4:2px;--elevation_1BoxShadow-xa7lfnk:0px 2px 4px rgba(25, 30, 36, 0.1);--elevation_2ShadowColor-x1ev5fvk:rgba(25, 30, 36, 0.15);--elevation_2ShadowBlur-x12qmzk5:8px;--elevation_2ShadowOfsetX-xxbqoks:0px;--elevation_2ShadowOffsetY-x1x4rd86:2px;--elevation_2BoxShadow-x14fxajb:0px 2px 8px rgba(25, 30, 36, 0.15);--elevation_3ShadowColor-x4oszsc:rgba(25, 30, 36, 0.2);--elevation_3ShadowBlur-x1kztil8:16px;--elevation_3ShadowOfsetX-xf4bg85:0px;--elevation_3ShadowOffsetY-x1qxmtdc:4px;--elevation_3BoxShadow-x5o4pez:0px 4px 16px rgba(25, 30, 36, 0.2);--interactionPressableDefaultBackground-x1ebljez:#1a6ce7;--interactionPressableDefaultContent-x1ylz278:#ffffff;--interactionPressableHoveredBackground-x5cin0l:#085bd7;--interactionPressablePressedBackground-x16jir0v:#003e9a;--interactionPressableDisabledBackground-x1dfs0nv:#bbd6fe;--interactionPressableDisabledContent-xq8l3lo:#5999f8;--chart_1-xbb5tev:#1a6ce7;--chart_2-xgecte5:#ecb700;--chart_3-xssnu1t:#51caa5;--chart_4-x1dfp57g:#d3132f;--chart_5-x1knz71y:#7157f4;--chart_6-xjb17xt:#ff7c1d;--chart_7-xg3vznu:#70ddff;--chart_8-x11l3djb:#d45cff;--chartDim_1-x11ij0mo:#c6dbfd;--chartDim_2-x1w3vpw7:#f5d791;--chartDim_3-x11sbcwy:#b0e5d1;--chartDim_4-x1kcru7n:#fccfcc;--chartDim_5-x5ky746:#d6d7ff;--chartDim_6-x12aliq8:#ffd1b5;--chartDim_7-xcq2cvn:#96e5ff;--chartDim_8-x1mzf9u0:#f3cdff;--reusableBorderDefault-xzmw9uq:#d5dae4;--reusableBorderBright-x1ff26v7:#bdc4d5;--reusableBorderHover-x1g9bq31:#9fabc1;--reusableBorderDisabled-x17dct1o:#dee3ea;--reusableBorderActive-x1ndz8hz:#1a6ce7;--reusableBorderFocusedActiveItem-x1i7lhj8:#d6e6ff;--reusableBorderFocusedCriticalItem-xuc8wod:#ffd1dc;--reusableBorderFocusedSuccessItem-x1nu2cdq:#51d9ae;--reusableBorderFocusedWarningItem-xxywd4h:#ffedcd;--reusableBackgroundNull-x1n8zkb0:#d5dae4;--reusableBackgroundAdditionalInfo-x1nom0y6:#f7f7f7;--reusableBackgroundRowHover-x1mh1psm:#eceef1;--reusableBackgroundComponentSelectedKnockout-xaa0yak:#fbfbfb;--reusableTextPrimary-x1basixx:#1e252f;--reusableTextSecondary-x3w903u:#5d6a85;--reusableTextHeader-x3bcnt1:#1e252f;--reusableLinkDefault-x7je2dg:#1a6ce7;--reusableLinkHover-x1c9yhv4:#004cbe;--reusableLinkPress-x13ee4cc:#003e9a;--reusableLinkDisabled-x5nz1tk:#86b6fc;--reusableLinkSuccessDefault-x7etr0r:#034237;--reusableLinkSuccessHover-x24eu2i:#001d11;--reusableLinkSuccessPress-x192bdec:#000000;--reusableLinkSuccessDisabled-xtz3yxq:#649c8e;--reusableLinkNeutralDefault-x1v3igyy:#1e252f;--reusableLinkNeutralHover-x1huzr3h:#000005;--reusableLinkNeutralPress-xdt358l:#000000;--reusableLinkNeutralDisabled-x1357g2h:#717985;--reusableLinkCriticalDefault-xe6a4p:#66000e;--reusableLinkCriticalHover-x1xf81u5:#3b0000;--reusableLinkCriticalPress-x19bzt40:#290000;--reusableLinkCriticalDisabled-x1yn3rka:#cf655e;--reusableLinkCautionDefault-x18lrb4k:#653e03;--reusableLinkCautionHover-xtb0wcg:#3a1700;--reusableLinkCautionPress-x1f2vg9o:#230000;--reusableLinkCautionDisabled-x1oaarf5:#ca965b;--reusableLinkInfoDefault-x1po5qdv:#002c6e;--reusableLinkInfoHover-xi4asij:#000142;--reusableLinkInfoPress-x1soqqsl:#00001e;--reusableLinkInfoDisabled-x145mqh5:#7380ce;--reusableIconDefault-x1mcdjob:#5d6a85;--reusableIconSubtle-x1elgdmy:#bdc4d5;--reusableSelectedText-xr1nzcy:#085bd7;--reusableSelectedBackground-xixne3i:#d6e6ff;--reusableSelectedUi-xzo0ixf:#085bd7;--reusableSelectedHoveredText-x1hbu4ka:#004cbe;--reusableSelectedHoveredBackground-x6k6z09:#bbd6fe;--reusableSelectedHoveredUi-xrsp8eo:#1a6ce7;--reusableDisabledText-x1kc9bpy:#9fabc1;--statusCriticalMessageText-xx52who:#d3132f;--statusCriticalText-x1s01yax:#66000e;--statusCriticalBackground-xuy2mv:#ffd1dc;--statusCriticalUi-x1djf0a:#d3132f;--statusCriticalChart-xe6lwc6:#ef405e;--statusCriticalChartDim-x1rz869t:#ffced0;--statusCautionMessageText-xqt29eh:#653e03;--statusCautionText-xagw2l7:#653e03;--statusCautionBackground-xo2sut0:#ffedcd;--statusCautionUi-x1yskukw:#f3be0f;--statusCautionChart-x1lpjg3p:#f8c52a;--statusCautionChartDim-xm67qic:#fad67b;--statusSuccessMessageText-x1uf8sr5:#087959;--statusSuccessText-xuqq269:#034237;--statusSuccessBackground-xd89znk:#bdf8e9;--statusSuccessUi-x1ytra92:#0e9c73;--statusSuccessChart-xt9qqo6:#51d9ae;--statusSuccessChartDim-x47pb3o:#a0e9cd;--statusInfoMessageText-x1pcfw30:#085bd7;--statusInfoText-x9l6koh:#002c6e;--statusInfoBackground-x88p9l8:#d6e6ff;--statusInfoUi-x13lhj3a:#1a6ce7;--statusInfoChart-xjcmi5c:#3580f2;--statusInfoChartDim-xhqfib2:#c5dcff;--statusNeutralMessageText-xfubh31:#1e252f;--statusNeutralText-x3gky3s:#1e252f;--statusNeutralBackground-x1jkun8g:#eceef1;--statusNeutralUi-x1v5bl6x:#bdc4d5;--statusNeutralChart-x12vf8ml:#bdc4d5;--statusNeutralChartDim-xqd7iko:#d5dae5;--statusActiveChart-x1pnhaep:#5d6a85;--statusActiveChartDim-x1psbes7:#d6dae1;--componentRangeSliderTrackBackgroundDefault-x19jtf4n:#dee3ea;--componentRangeSliderRangeBackgroundLeft-xb6vdq7:#86b6fc;--componentRangeSliderRangeBackgroundRight-xalojzr:#3580f2;--componentRangeSliderRangeBackgroundDisabled-xf976g4:#dee3ea;--componentRangeSliderThumbBackgroundDefault-x1qszt55:#ffffff;--componentRangeSliderThumbBackgroundDisabled-x1rk8loe:#d5dae4;--componentRangeSliderThumbBorderDefault-xdpzet1:#d5dae4;--componentRangeSliderThumbBorderDisabled-x1wj5m97:#d5dae4;--componentRangeSliderStepBackgroundDefault-x1qllqf3:#ffffff;--componentRangeSliderStepBackgroundDisabled-x1xh38su:#d5dae4;--componentRangeSliderStepBorderDefault-x1i07akv:#bdc4d5;--componentRangeSliderStepBorderDisabled-xtji0e:#d5dae4;--componentDialogOverlay-x1jvjlet:rgba(0, 0, 0, 0.2);--componentStatusPillActiveBackground-x1rlqzrq:#5d6a85;--componentStatusPillActiveText-xtjt2vn:#fbfbfb;--componentPreviewBadgeDefaultText-xrvbezm:#191e24;--componentPreviewBadgeDefaultBackground-xzqb6sq:#dee3ea;--componentPreviewBadgeHoveredText-x19zo6bs:#191e24;--componentPreviewBadgeHoveredBackground-xs3schy:#d5dae4;--componentPreviewBadgePressedText-x1lo0w2c:#191e24;--componentPreviewBadgePressedBackground-x17fa9ft:#bdc4d5;--componentPreviewBadgeDisabledText-x1ch35a5:#191e24;--componentPreviewBadgeDisabledBackground-x40qgja:#dee3ea;--componentScrollbarThumb-x16v5ab9:#dee3ea;--componentFormControlBorderDefault-xhjyamx:#bdc4d5;--componentFormControlBorderHover-x1smp24s:#9fabc1;--componentFormControlBorderPress-x1p1ruih:#9fabc1;--componentFormControlBorderActive-x1ahek8h:#1a6ce7;--componentFormControlBorderDisabled-x1y7t82n:#dee3ea;--componentFormControlBorderCritical-x1f4nm2h:#d3132f;--componentFormControlBorderCaution-x1eysk2b:#f3be0f;--componentFormControlBorderSuccess-x1viwnod:#0e9c73;--componentFormControlBackgroundDefault-x1ai5wh:#fbfbfb;--componentFormControlBackgroundDisabled-x1juydnh:#eceef1;--componentFormControlBackgroundUnselected-x77ivtp:#d5dae4;--componentFormControlBackgroundSelectedDefault-xgk4jel:#1a6ce7;--componentFormControlBackgroundSelectedHover-xdojy8g:#085bd7;--componentFormControlBackgroundSelectedDisabled-x1y0xk7l:#bbd6fe;--componentFormControlKnobDefault-xkbwcro:#fbfbfb;--componentFormControlKnobDisabled-x10jocbe:#ffffff;--componentFormControlKnobSelectedDisabled-xa68bw1:#ffffff;--componentFormControlHelperTextDefault-xfan83b:#5d6a85;--componentFormControlHelperTextCritical-x1ndf7oa:#d3132f;--componentFormControlHelperTextCaution-xvkwtu5:#653e03;--codeErroredBackground-xft1kp0:#ffd1dc;--codeExecutedBackground-xp9ibpi:#d6e6ff;--codeLineNumberDefaultText-xz6vhsb:#5d6a85;--codeLineNumberActiveText-x153y260:#191e24;--codeCommentText-x1f4lwbq:#5d6a85;--codeSearchFocusedText-xw8aa3a:#0f161e;--codeSearchFocusedBackground-x8cfnp6:#ffc49a;--codeSearchHighlightedText-xuhcf6i:#0f161e;--codeSearchHighlightedBackground-x1uaprn4:#ffedcd;--codeSqlKeywordText-x1g1q1cz:#085bd7;--codeSqlSystemFunctionText-x1b7cbrr:#087959;--codeSqlEditorTextNameText-xp3j98h:#191e24;--codeSqlStringText-x18zpe7k:#860112;--codeSqlTypeText-xd77hwj:#653e03;--codePythonControlKeywordText-xjabskd:#653e03;--codePythonVariableNameText-x1lrp33q:#002c6e;--codePythonKeywordText-xfyjj7z:#9712e8;--codePythonFunctionOrVariableNameText-x1ocubao:#b67901;--codePythonNumberText-x1hw0fnc:#087959;--codePythonSpecialText-x1yi18iq:#bf0822;--codePythonTypeNameText-xmy6n98:#087959;--productAreasWorksheetsPanelBackground-x1lmhi2p:#f7f7f7;--productAreasWorksheetsTabActionIconColor-x1oti7qo:#5d6a85;--productAreasWorksheetsTabActionHoverBackground-xjqar0o:#d5dae4;--productAreasWorksheetsTabActionPressedBackground-xa2ofzs:#bdc4d5;--productAreasWorksheetsTabOverflowGradient-x75i01n:#ffffff;--productAreasWorksheetsTabAreaBackground-x2b3rut:#ffffff;--productAreasWorksheetsTabActiveBorder-x1dbg97z:#d5dae4;--productAreasWorksheetsTabActiveBackground-xiv40eb:#f7f7f7;--productAreasWorksheetsTabInactiveBackground-x1kkph6f:#eceef1;--productAreasWorksheetsCardBackgroundRegular-x1a5pjtq:#fbfbfb;--productAreasWorksheetsCardBackgroundHover-x44ulzf:#ffffff;--productAreasDmxListingCardBgHover-x12pg91o:#f7f7f7;}
.margin-xmb2glh:not(#\#){margin:0 0 10px 0}
.margin-x126qypt:not(#\#){margin:0 0 4px 0}
.margin-x1l69bjf:not(#\#){margin:0 0 8px 0}
.margin-x1ghz6dp:not(#\#){margin:0}
.padding-x1717udv:not(#\#){padding:0}
.padding-x1qhigcl:not(#\#){padding:20px}
.padding-x15fnm84:not(#\#){padding:32px}
.borderColor-x9uh73u:not(#\#):not(#\#){border-color:#1a6ce7}
.borderColor-x9r1u3d:not(#\#):not(#\#){border-color:transparent}
.borderColor-x4geah6:not(#\#):not(#\#){border-color:var(--surfaceLevel_2Border-x6thv3w)}
.borderRadius-x2u8bby:not(#\#):not(#\#){border-radius:0}
.borderRadius-x1q4ynmn:not(#\#):not(#\#){border-radius:10px}
.borderRadius-x4pepcl:not(#\#):not(#\#){border-radius:12px}
.borderRadius-x1nj7uno:not(#\#):not(#\#){border-radius:1px}
.borderRadius-x18zih8k:not(#\#):not(#\#){border-radius:3px}
.borderRadius-x12oqio5:not(#\#):not(#\#){border-radius:4px}
.borderRadius-x1kogg8i:not(#\#):not(#\#){border-radius:6px}
.borderRadius-xu4hgxq:not(#\#):not(#\#){border-radius:7px}
.borderRadius-xur7f20:not(#\#):not(#\#){border-radius:8px}
.borderRadius-x10hpsqq:not(#\#):not(#\#){border-radius:9999px}
.borderStyle-xng3xce:not(#\#):not(#\#){border-style:none}
.borderStyle-x1y0btm7:not(#\#):not(#\#){border-style:solid}
.borderWidth-xc342km:not(#\#):not(#\#){border-width:0}
.borderWidth-xmkeg23:not(#\#):not(#\#){border-width:1px}
.flex-x98rzlu:not(#\#):not(#\#){flex:1}
.gap-xxhr3t:not(#\#):not(#\#){gap:0}
.gap-x883omv:not(#\#):not(#\#){gap:10px}
.gap-x1v2ro7d:not(#\#):not(#\#){gap:12px}
.gap-xou54vl:not(#\#):not(#\#){gap:16px}
.gap-x12mrbbr:not(#\#):not(#\#){gap:1px}
.gap-x1jnr06f:not(#\#):not(#\#){gap:4px}
.gap-x1nejdyq:not(#\#):not(#\#){gap:5px}
.gap-x17d4w8g:not(#\#):not(#\#){gap:6px}
.gap-x1j9xkj6:not(#\#):not(#\#){gap:7px}
.gap-x167g77z:not(#\#):not(#\#){gap:8px}
.outline-x1a2a7pz:not(#\#):not(#\#){outline:none}
.overflow-xb3r6kr:not(#\#):not(#\#){overflow:hidden}
.transition-x1jjbm1c:not(#\#):not(#\#){transition:all .1s ease}
.transition-xxksqoq:not(#\#):not(#\#){transition:background-color .1s ease}
.borderColor-x1dwq34x:focus:not(#\#):not(#\#){border-color:#1a6ce7}
.WebkitBoxOrient-x1ua5tub:not(#\#):not(#\#):not(#\#){-webkit-box-orient:vertical}
.WebkitLineClamp-x1h7i4cw:not(#\#):not(#\#):not(#\#){-webkit-line-clamp:2}
.alignItems-x6s0dn4:not(#\#):not(#\#):not(#\#){align-items:center}
.alignItems-xuk3077:not(#\#):not(#\#):not(#\#){align-items:flex-end}
.alignItems-x1cy8zhl:not(#\#):not(#\#):not(#\#){align-items:flex-start}
.alignItems-x1qjc9v5:not(#\#):not(#\#):not(#\#){align-items:stretch}
.alignSelf-xamitd3:not(#\#):not(#\#):not(#\#){align-self:center}
.alignSelf-xqcrz7y:not(#\#):not(#\#):not(#\#){align-self:flex-start}
.alignSelf-xkh2ocl:not(#\#):not(#\#):not(#\#){align-self:stretch}
.backgroundColor-x1csb3ra:not(#\#):not(#\#):not(#\#){background-color:#0e9c73}
.backgroundColor-xq575fr:not(#\#):not(#\#):not(#\#){background-color:#1a6ce7}
.backgroundColor-xuj1uge:not(#\#):not(#\#):not(#\#){background-color:#7B5EA7}
.backgroundColor-x1jyhq1o:not(#\#):not(#\#):not(#\#){background-color:#7C3AED}
.backgroundColor-x1v7lx2d:not(#\#):not(#\#):not(#\#){background-color:#bdc4d5}
.backgroundColor-xn8xx3q:not(#\#):not(#\#):not(#\#){background-color:#d3132f}
.backgroundColor-x1nfaebf:not(#\#):not(#\#):not(#\#){background-color:#d6e6ff}
.backgroundColor-x1582vc3:not(#\#):not(#\#):not(#\#){background-color:#e8f0fc}
.backgroundColor-x1naspa6:not(#\#):not(#\#):not(#\#){background-color:#eeeeee}
.backgroundColor-x9aprih:not(#\#):not(#\#):not(#\#){background-color:#f3be0f}
.backgroundColor-x15sir8a:not(#\#):not(#\#):not(#\#){background-color:rgba(0,0,0,.07)}
.backgroundColor-x1ttaxay:not(#\#):not(#\#):not(#\#){background-color:rgba(123,94,167,.06)}
.backgroundColor-xjbqb8w:not(#\#):not(#\#):not(#\#){background-color:transparent}
.backgroundColor-x2kt5h6:not(#\#):not(#\#):not(#\#){background-color:var(--interactionPressableDefaultBackground-x1ebljez)}
.backgroundColor-x12ekh9h:not(#\#):not(#\#):not(#\#){background-color:var(--reusableBackgroundAdditionalInfo-x1nom0y6)}
.backgroundColor-x3nzn7f:not(#\#):not(#\#):not(#\#){background-color:var(--reusableTextSecondary-x3w903u)}
.backgroundColor-x3p7idg:not(#\#):not(#\#):not(#\#){background-color:var(--statusCautionBackground-xo2sut0)}
.backgroundColor-xvx5jwo:not(#\#):not(#\#):not(#\#){background-color:var(--statusCriticalBackground-xuy2mv)}
.backgroundColor-x14mmnzp:not(#\#):not(#\#):not(#\#){background-color:var(--statusInfoBackground-x88p9l8)}
.backgroundColor-x1vgt69s:not(#\#):not(#\#):not(#\#){background-color:var(--statusNeutralBackground-x1jkun8g)}
.backgroundColor-x1bcfgy3:not(#\#):not(#\#):not(#\#){background-color:var(--statusNeutralUi-x1v5bl6x)}
.backgroundColor-x6pfatr:not(#\#):not(#\#):not(#\#){background-color:var(--statusSuccessBackground-xd89znk)}
.backgroundColor-x1gia28e:not(#\#):not(#\#):not(#\#){background-color:var(--surfaceLevel_1Background-x1nfabw4)}
.backgroundColor-xcsqd6p:not(#\#):not(#\#):not(#\#){background-color:var(--surfaceLevel_2Background-x1010hqu)}
.backgroundColor-x5bqcjz:not(#\#):not(#\#):not(#\#){background-color:var(--surfaceLevel_2Border-x6thv3w)}
.backgroundColor-x1j34sa4:not(#\#):not(#\#):not(#\#){background-color:var(--surfaceLevel_3Background-x1tgtisj)}
.boxSizing-x9f619:not(#\#):not(#\#):not(#\#){box-sizing:border-box}
.color-x15s4m7f:not(#\#):not(#\#):not(#\#){color:#085bd7}
.color-x1eq16d7:not(#\#):not(#\#):not(#\#){color:#0e9c73}
.color-x1h6shb1:not(#\#):not(#\#):not(#\#){color:#1a7f3c}
.color-x1m379dj:not(#\#):not(#\#):not(#\#){color:#6C3483}
.color-xdeoy0f:not(#\#):not(#\#):not(#\#){color:#d3132f}
.color-xt3eyvj:not(#\#):not(#\#):not(#\#){color:#e07b00}
.color-xfungia:not(#\#):not(#\#):not(#\#){color:#fff}
.color-x1bgcs2m:not(#\#):not(#\#):not(#\#){color:var(--interactionPressableDefaultContent-x1ylz278)}
.color-x186hhfn:not(#\#):not(#\#):not(#\#){color:var(--reusableIconSubtle-x1elgdmy)}
.color-x1jusg4h:not(#\#):not(#\#):not(#\#){color:var(--reusableLinkDefault-x7je2dg)}
.color-x1aro5vg:not(#\#):not(#\#):not(#\#){color:var(--reusableTextPrimary-x1basixx)}
.color-x1hwcigb:not(#\#):not(#\#):not(#\#){color:var(--reusableTextSecondary-x3w903u)}
.color-xvnfhq8:not(#\#):not(#\#):not(#\#){color:var(--statusCautionText-xagw2l7)}
.color-x4q8qtq:not(#\#):not(#\#):not(#\#){color:var(--statusCriticalText-x1s01yax)}
.color-xnrr4mb:not(#\#):not(#\#):not(#\#){color:var(--statusInfoText-x9l6koh)}
.color-xhq8tm6:not(#\#):not(#\#):not(#\#){color:var(--statusNeutralText-x3gky3s)}
.color-xzhegb1:not(#\#):not(#\#):not(#\#){color:var(--statusSuccessText-xuqq269)}
.color-x1sop577:not(#\#):not(#\#):not(#\#){color:var(--statusSuccessUi-x1ytra92)}
.cursor-xicojor:not(#\#):not(#\#):not(#\#){cursor:col-resize}
.cursor-xt0e3qv:not(#\#):not(#\#):not(#\#){cursor:default}
.cursor-x1ypdohk:not(#\#):not(#\#):not(#\#){cursor:pointer}
.display-x104kibb:not(#\#):not(#\#):not(#\#){display:-webkit-box}
.display-x1lliihq:not(#\#):not(#\#):not(#\#){display:block}
.display-x78zum5:not(#\#):not(#\#):not(#\#){display:flex}
.display-xrvj5dj:not(#\#):not(#\#):not(#\#){display:grid}
.display-x1rg5ohu:not(#\#):not(#\#):not(#\#){display:inline-block}
.display-x3nfvp2:not(#\#):not(#\#):not(#\#){display:inline-flex}
.display-x1s85apg:not(#\#):not(#\#):not(#\#){display:none}
.flexDirection-xdt5ytf:not(#\#):not(#\#):not(#\#){flex-direction:column}
.flexDirection-x1q0g3np:not(#\#):not(#\#):not(#\#){flex-direction:row}
.flexShrink-x2lah0s:not(#\#):not(#\#):not(#\#){flex-shrink:0}
.flexWrap-x1a02dak:not(#\#):not(#\#):not(#\#){flex-wrap:wrap}
.fontSize-x1k6wstc:not(#\#):not(#\#):not(#\#){font-size:10px}
.fontSize-xfifm61:not(#\#):not(#\#):not(#\#){font-size:12px}
.fontSize-x4z9k3i:not(#\#):not(#\#):not(#\#){font-size:13px}
.fontSize-xif65rj:not(#\#):not(#\#):not(#\#){font-size:14px}
.fontSize-x1jvydc1:not(#\#):not(#\#):not(#\#){font-size:15px}
.fontSize-x1j61zf2:not(#\#):not(#\#):not(#\#){font-size:16px}
.fontSize-xwsyq91:not(#\#):not(#\#):not(#\#){font-size:20px}
.fontSize-x1i1m3gp:not(#\#):not(#\#):not(#\#){font-size:22px}
.fontWeight-xo1l8bm:not(#\#):not(#\#):not(#\#){font-weight:400}
.fontWeight-xk50ysn:not(#\#):not(#\#):not(#\#){font-weight:500}
.fontWeight-x1s688f:not(#\#):not(#\#):not(#\#){font-weight:600}
.fontWeight-x1xlr1w8:not(#\#):not(#\#):not(#\#){font-weight:700}
.gridTemplateColumns-x1o61qjw:not(#\#):not(#\#):not(#\#){grid-template-columns:1fr 1fr}
.gridTemplateColumns-xhsicrm:not(#\#):not(#\#):not(#\#){grid-template-columns:repeat(auto-fill,minmax(220px,1fr))}
.gridTemplateRows-x6ec99f:not(#\#):not(#\#):not(#\#){grid-template-rows:1fr 1fr}
.justifyContent-xl56j7k:not(#\#):not(#\#):not(#\#){justify-content:center}
.justifyContent-x1qughib:not(#\#):not(#\#):not(#\#){justify-content:space-between}
.letterSpacing-xjat59b:not(#\#):not(#\#):not(#\#){letter-spacing:-0.01em}
.letterSpacing-x72az59:not(#\#):not(#\#):not(#\#){letter-spacing:-0.02em}
.lineHeight-x1159mfc:not(#\#):not(#\#):not(#\#){line-height:1.1}
.lineHeight-x1u7k74:not(#\#):not(#\#):not(#\#){line-height:1.2}
.lineHeight-x1evy7pa:not(#\#):not(#\#):not(#\#){line-height:1.5}
.lineHeight-x1dbl2gt:not(#\#):not(#\#):not(#\#){line-height:1.6}
.lineHeight-xo5v014:not(#\#):not(#\#):not(#\#){line-height:1}
.lineHeight-x1d3mw78:not(#\#):not(#\#):not(#\#){line-height:16px}
.lineHeight-x17fgdl5:not(#\#):not(#\#):not(#\#){line-height:19px}
.lineHeight-x1fc57z9:not(#\#):not(#\#):not(#\#){line-height:20px}
.lineHeight-x1o2sk6j:not(#\#):not(#\#):not(#\#){line-height:24px}
.opacity-x197sbye:not(#\#):not(#\#):not(#\#){opacity:.6}
.position-x10l6tqk:not(#\#):not(#\#):not(#\#){position:absolute}
.position-x1n2onr6:not(#\#):not(#\#):not(#\#){position:relative}
.position-x7wzq59:not(#\#):not(#\#):not(#\#){position:sticky}
.textAlign-x2b8uid:not(#\#):not(#\#):not(#\#){text-align:center}
.textAlign-x1hr2gdg:not(#\#):not(#\#):not(#\#){text-align:right}
.textOverflow-xlyipyv:not(#\#):not(#\#):not(#\#){text-overflow:ellipsis}
.whiteSpace-xuxw1ft:not(#\#):not(#\#):not(#\#){white-space:nowrap}
.zIndex-x1vjfegm:not(#\#):not(#\#):not(#\#){z-index:1}
.cursor-xtgyt42:disabled:not(#\#):not(#\#):not(#\#){cursor:default}
.opacity-x1lfpgzf:disabled:not(#\#):not(#\#):not(#\#){opacity:.4}
.backgroundColor-x1mx84y3:hover:not(#\#):not(#\#):not(#\#){background-color:#085bd7}
.backgroundColor-xhehsiv:hover:not(#\#):not(#\#):not(#\#){background-color:var(--interactionPressableHoveredBackground-x5cin0l)}
.backgroundColor-xmp18r0:hover:not(#\#):not(#\#):not(#\#){background-color:var(--statusCriticalBackground-xuy2mv)}
.backgroundColor-xw7nidq:hover:not(#\#):not(#\#):not(#\#){background-color:var(--statusInfoBackground-x88p9l8)}
.backgroundColor-xp5btm9:hover:not(#\#):not(#\#):not(#\#){background-color:var(--surfaceLevel_2Background-x1010hqu)}
.backgroundColor-xlwmem6:hover:not(#\#):not(#\#):not(#\#){background-color:var(--surfaceLevel_2Border-x6thv3w)}
.backgroundColor-x74u1hr:hover:not(#\#):not(#\#):not(#\#){background-color:var(--surfaceLevel_3Background-x1tgtisj)}
.color-x1pms39a:hover:not(#\#):not(#\#):not(#\#){color:var(--reusableTextPrimary-x1basixx)}
.opacity-x1c3glr3:hover:not(#\#):not(#\#):not(#\#){opacity:.7}
.opacity-x1o7uuvo:hover:not(#\#):not(#\#):not(#\#){opacity:1}
@media (-webkit-min-device-pixel-ratio: 2){.display-x1fx6h30.display-x1fx6h30:not(#\#):not(#\#):not(#\#){display:inline-block}}
@media (-webkit-min-device-pixel-ratio: 2){.display-x1dtpmc9.display-x1dtpmc9:not(#\#):not(#\#):not(#\#){display:none}}
.borderBottomColor-xv4anh:not(#\#):not(#\#):not(#\#):not(#\#){border-bottom-color:var(--surfaceLevel_2Border-x6thv3w)}
.borderBottomRightRadius-xuvn51i:not(#\#):not(#\#):not(#\#):not(#\#){border-bottom-right-radius:3px}
.borderBottomStyle-x1q0q8m5:not(#\#):not(#\#):not(#\#):not(#\#){border-bottom-style:solid}
.borderBottomWidth-xso031l:not(#\#):not(#\#):not(#\#):not(#\#){border-bottom-width:1px}
.borderLeftColor-x1pywn0a:not(#\#):not(#\#):not(#\#):not(#\#){border-left-color:var(--surfaceLevel_2Border-x6thv3w)}
.borderLeftStyle-x19ypqd9:not(#\#):not(#\#):not(#\#):not(#\#){border-left-style:solid}
.borderLeftWidth-xe0pwq:not(#\#):not(#\#):not(#\#):not(#\#){border-left-width:1px}
.borderRightColor-xu7skl3:not(#\#):not(#\#):not(#\#):not(#\#){border-right-color:var(--surfaceLevel_1Border-x1wzc3k4)}
.borderRightColor-x1vd8tz1:not(#\#):not(#\#):not(#\#):not(#\#){border-right-color:var(--surfaceLevel_2Border-x6thv3w)}
.borderRightStyle-x32b0ac:not(#\#):not(#\#):not(#\#):not(#\#){border-right-style:solid}
.borderRightWidth-xs1s249:not(#\#):not(#\#):not(#\#):not(#\#){border-right-width:1px}
.bottom-x1ey2m1c:not(#\#):not(#\#):not(#\#):not(#\#){bottom:0}
.bottom-xbfrwjf:not(#\#):not(#\#):not(#\#):not(#\#){bottom:4px}
.height-x5yr21d:not(#\#):not(#\#):not(#\#):not(#\#){height:100%}
.height-x1dr59a3:not(#\#):not(#\#):not(#\#):not(#\#){height:100vh}
.height-xjm9jq1:not(#\#):not(#\#):not(#\#):not(#\#){height:1px}
.height-x1qx5ct2:not(#\#):not(#\#):not(#\#):not(#\#){height:20px}
.height-xxk0z11:not(#\#):not(#\#):not(#\#):not(#\#){height:24px}
.height-x1fgtraw:not(#\#):not(#\#):not(#\#):not(#\#){height:28px}
.height-x10w6t97:not(#\#):not(#\#):not(#\#):not(#\#){height:32px}
.height-xqu0tyb:not(#\#):not(#\#):not(#\#):not(#\#){height:4px}
.height-x1ycjhwn:not(#\#):not(#\#):not(#\#):not(#\#){height:5px}
.height-x1peatla:not(#\#):not(#\#):not(#\#):not(#\#){height:64px}
.height-xols6we:not(#\#):not(#\#):not(#\#):not(#\#){height:6px}
.height-x1hagigm:not(#\#):not(#\#):not(#\#):not(#\#){height:7px}
.left-xu96u03:not(#\#):not(#\#):not(#\#):not(#\#){left:0}
.left-x1c5ba64:not(#\#):not(#\#):not(#\#):not(#\#){left:11px}
.marginBottom-xyorhqc:not(#\#):not(#\#):not(#\#):not(#\#){margin-bottom:10px}
.marginBottom-xod5an3:not(#\#):not(#\#):not(#\#):not(#\#){margin-bottom:12px}
.marginBottom-x1hq5gj4:not(#\#):not(#\#):not(#\#):not(#\#){margin-bottom:24px}
.marginBottom-xjpr12u:not(#\#):not(#\#):not(#\#):not(#\#){margin-bottom:2px}
.marginBottom-x1iymm2a:not(#\#):not(#\#):not(#\#):not(#\#){margin-bottom:32px}
.marginBottom-x12nagc:not(#\#):not(#\#):not(#\#):not(#\#){margin-bottom:4px}
.marginBottom-xzueoph:not(#\#):not(#\#):not(#\#):not(#\#){margin-bottom:6px}
.marginBottom-x1e56ztr:not(#\#):not(#\#):not(#\#):not(#\#){margin-bottom:8px}
.marginLeft-x1tpqehw:not(#\#):not(#\#):not(#\#):not(#\#){margin-left:12px}
.marginLeft-x8x9d4c:not(#\#):not(#\#):not(#\#):not(#\#){margin-left:auto}
.marginRight-x1wsuqlk:not(#\#):not(#\#):not(#\#):not(#\#){margin-right:12px}
.marginTop-x14vqqas:not(#\#):not(#\#):not(#\#):not(#\#){margin-top:12px}
.marginTop-xvijh9v:not(#\#):not(#\#):not(#\#):not(#\#){margin-top:1px}
.marginTop-xqui205:not(#\#):not(#\#):not(#\#):not(#\#){margin-top:24px}
.marginTop-x1gslohp:not(#\#):not(#\#):not(#\#):not(#\#){margin-top:4px}
.marginTop-x1xmf6yo:not(#\#):not(#\#):not(#\#):not(#\#){margin-top:8px}
.maxWidth-x193iq5w:not(#\#):not(#\#):not(#\#):not(#\#){max-width:100%}
.maxWidth-x1jkqq1h:not(#\#):not(#\#):not(#\#):not(#\#){max-width:280px}
.maxWidth-x1k5yvld:not(#\#):not(#\#):not(#\#):not(#\#){max-width:88%}
.maxWidth-xyzno7u:not(#\#):not(#\#):not(#\#):not(#\#){max-width:960px}
.minHeight-x2lwn1j:not(#\#):not(#\#):not(#\#):not(#\#){min-height:0}
.minHeight-x1ba4aug:not(#\#):not(#\#):not(#\#):not(#\#){min-height:40px}
.minWidth-xeuugli:not(#\#):not(#\#):not(#\#):not(#\#){min-width:0}
.minWidth-xnei2rj:not(#\#):not(#\#):not(#\#):not(#\#){min-width:24px}
.minWidth-x9041oi:not(#\#):not(#\#):not(#\#):not(#\#){min-width:2px}
.overflowY-x1odjw0f:not(#\#):not(#\#):not(#\#):not(#\#){overflow-y:auto}
.paddingBottom-x18d9i69:not(#\#):not(#\#):not(#\#):not(#\#){padding-bottom:0}
.paddingBottom-x1a8lsjc:not(#\#):not(#\#):not(#\#):not(#\#){padding-bottom:10px}
.paddingBottom-xsag5q8:not(#\#):not(#\#):not(#\#):not(#\#){padding-bottom:12px}
.paddingBottom-x1g2khh7:not(#\#):not(#\#):not(#\#):not(#\#){padding-bottom:14px}
.paddingBottom-x1l90r2v:not(#\#):not(#\#):not(#\#):not(#\#){padding-bottom:16px}
.paddingBottom-x1hhzuzn:not(#\#):not(#\#):not(#\#):not(#\#){padding-bottom:18px}
.paddingBottom-x1120s5i:not(#\#):not(#\#):not(#\#):not(#\#){padding-bottom:2px}
.paddingBottom-xg8j3zb:not(#\#):not(#\#):not(#\#):not(#\#){padding-bottom:3px}
.paddingBottom-x1t1ogtf:not(#\#):not(#\#):not(#\#):not(#\#){padding-bottom:40px}
.paddingBottom-xjkvuk6:not(#\#):not(#\#):not(#\#):not(#\#){padding-bottom:4px}
.paddingBottom-xs9asl8:not(#\#):not(#\#):not(#\#):not(#\#){padding-bottom:5px}
.paddingBottom-x10b6aqq:not(#\#):not(#\#):not(#\#):not(#\#){padding-bottom:6px}
.paddingBottom-x1ykpatu:not(#\#):not(#\#):not(#\#):not(#\#){padding-bottom:7px}
.paddingBottom-xwib8y2:not(#\#):not(#\#):not(#\#):not(#\#){padding-bottom:8px}
.paddingLeft-x1uhho1l:not(#\#):not(#\#):not(#\#):not(#\#){padding-left:0}
.paddingLeft-x1lqa7cf:not(#\#):not(#\#):not(#\#):not(#\#){padding-left:10px}
.paddingLeft-x6pqhf1:not(#\#):not(#\#):not(#\#):not(#\#){padding-left:11px}
.paddingLeft-xf18ygs:not(#\#):not(#\#):not(#\#):not(#\#){padding-left:12px}
.paddingLeft-xzjhap9:not(#\#):not(#\#):not(#\#):not(#\#){padding-left:14px}
.paddingLeft-xnm25rq:not(#\#):not(#\#):not(#\#):not(#\#){padding-left:16px}
.paddingLeft-x5tiur9:not(#\#):not(#\#):not(#\#):not(#\#){padding-left:20px}
.paddingLeft-xd3ty66:not(#\#):not(#\#):not(#\#):not(#\#){padding-left:24px}
.paddingLeft-x19lfox8:not(#\#):not(#\#):not(#\#):not(#\#){padding-left:40px}
.paddingLeft-x11iknt3:not(#\#):not(#\#):not(#\#):not(#\#){padding-left:6px}
.paddingLeft-x163pfp:not(#\#):not(#\#):not(#\#):not(#\#){padding-left:8px}
.paddingRight-x1xpa7k:not(#\#):not(#\#):not(#\#):not(#\#){padding-right:0}
.paddingRight-xcicffo:not(#\#):not(#\#):not(#\#):not(#\#){padding-right:10px}
.paddingRight-x1nnee3q:not(#\#):not(#\#):not(#\#):not(#\#){padding-right:11px}
.paddingRight-xnuq7ks:not(#\#):not(#\#):not(#\#):not(#\#){padding-right:12px}
.paddingRight-x19tmk5i:not(#\#):not(#\#):not(#\#):not(#\#){padding-right:14px}
.paddingRight-xyfqnmn:not(#\#):not(#\#):not(#\#):not(#\#){padding-right:16px}
.paddingRight-x18a8kpn:not(#\#):not(#\#):not(#\#):not(#\#){padding-right:18px}
.paddingRight-x1s7jvk7:not(#\#):not(#\#):not(#\#):not(#\#){padding-right:20px}
.paddingRight-x8e5d8q:not(#\#):not(#\#):not(#\#):not(#\#){padding-right:24px}
.paddingRight-xj5tbmc:not(#\#):not(#\#):not(#\#):not(#\#){padding-right:40px}
.paddingRight-x1ug7bdz:not(#\#):not(#\#):not(#\#):not(#\#){padding-right:6px}
.paddingRight-xy13l1i:not(#\#):not(#\#):not(#\#):not(#\#){padding-right:8px}
.paddingTop-xexx8yu:not(#\#):not(#\#):not(#\#):not(#\#){padding-top:0}
.paddingTop-x889kno:not(#\#):not(#\#):not(#\#):not(#\#){padding-top:10px}
.paddingTop-xz9dl7a:not(#\#):not(#\#):not(#\#):not(#\#){padding-top:12px}
.paddingTop-xyinxu5:not(#\#):not(#\#):not(#\#):not(#\#){padding-top:14px}
.paddingTop-xyamay9:not(#\#):not(#\#):not(#\#):not(#\#){padding-top:16px}
.paddingTop-x109j2v6:not(#\#):not(#\#):not(#\#):not(#\#){padding-top:18px}
.paddingTop-x1cnzs8:not(#\#):not(#\#):not(#\#):not(#\#){padding-top:20px}
.paddingTop-x1nn3v0j:not(#\#):not(#\#):not(#\#):not(#\#){padding-top:2px}
.paddingTop-x1miatn0:not(#\#):not(#\#):not(#\#):not(#\#){padding-top:32px}
.paddingTop-xyqdw3p:not(#\#):not(#\#):not(#\#):not(#\#){padding-top:3px}
.paddingTop-x1iorvi4:not(#\#):not(#\#):not(#\#):not(#\#){padding-top:4px}
.paddingTop-x123j3cw:not(#\#):not(#\#):not(#\#):not(#\#){padding-top:5px}
.paddingTop-x1yrsyyn:not(#\#):not(#\#):not(#\#):not(#\#){padding-top:6px}
.paddingTop-xm7lytj:not(#\#):not(#\#):not(#\#):not(#\#){padding-top:7px}
.paddingTop-x1y1aw1k:not(#\#):not(#\#):not(#\#):not(#\#){padding-top:8px}
.top-x13vifvy:not(#\#):not(#\#):not(#\#):not(#\#){top:0}
.top-x12eol54:not(#\#):not(#\#):not(#\#):not(#\#){top:28px}
.width-xh8yej3:not(#\#):not(#\#):not(#\#):not(#\#){width:100%}
.width-x1i1rx1s:not(#\#):not(#\#):not(#\#):not(#\#){width:1px}
.width-xw4jnvo:not(#\#):not(#\#):not(#\#):not(#\#){width:20px}
.width-xvy4d1p:not(#\#):not(#\#):not(#\#):not(#\#){width:24px}
.width-xgd8bvy:not(#\#):not(#\#):not(#\#):not(#\#){width:28px}
.width-x1td3qas:not(#\#):not(#\#):not(#\#):not(#\#){width:32px}
.width-x1g8rjiy:not(#\#):not(#\#):not(#\#):not(#\#){width:3px}
.width-x1l2rt3b:not(#\#):not(#\#):not(#\#):not(#\#){width:400px}
.width-x51ohtg:not(#\#):not(#\#):not(#\#):not(#\#){width:4px}
.width-xvni27:not(#\#):not(#\#):not(#\#):not(#\#){width:52px}
.width-x1fu8urw:not(#\#):not(#\#):not(#\#):not(#\#){width:64px}
.width-x1v4s8kt:not(#\#):not(#\#):not(#\#):not(#\#){width:6px}
.width-xci0xqf:not(#\#):not(#\#):not(#\#):not(#\#){width:7px}
.color-xwuv0vs:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#)::placeholder{color:var(--reusableTextSecondary-x3w903u)}